  /* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>; */


*, html, body{
      margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    height: 100vh;
}
 
#root{
    padding:0;
    margin: 0;
    height: 100vh;


    
}
main{
    display: grid;
    grid-template-columns: 122px 1fr;
    height: 100vh;

}
   


/* navigation */

.side-nav{
    align-self: start;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 10px;
    padding: 10px;


    margin-left: .5rem;
    
    width: 6rem;
    border: 1px solid black;
    border-radius: 14px;

    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px) saturate(180%); /* Blur and saturate the background content */
    -webkit-backdrop-filter: blur(10px) saturate(180%); /* For Safari compatibility */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle white border */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Soft shadow for depth */
    padding: 20px;
    color: white;
    text-align: center;
    max-width: 300px;

    

}

.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;

}

.nav-icons{
    color: rgb(46, 41, 41)
}

.profile-icon{
    height: 2rem;
    width: 2rem;
    border: 1px solid black;

    border-radius: 18px;
    margin-bottom: 20px;
}

.dash-icon{
    font-size: 1.54rem
}

.applicant-icon,
.analytics-icon{ 
    font-size: 1.4rem;
}



/* DASHBOARD PAGE */



.dash-container{
    height: 100vh;
    width: 100%;
    align-self: center;
    justify-self: center;

    /* background-color: black; */

    grid-row: 1/2;
    grid-column: 2;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);    
    gap: 10px;
    
    padding: 24px;
}

/* RESUME CARDS */

.card-content{
    width: 85%;
    height: 100%;
    /* background-color: white; */
    border: 1px solid black;

    border-radius: 18px;
    align-self: center;
    justify-items: center ;

    padding-top: 10px;
    
}
.card-headers{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-list-container{
    width: 100%;
    height: 14rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




